PORT=5000
JWT_SECRET=replace-with-a-long-secret
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx8DbxA942JSSkA6BUGlkItZy9RB45ocicWlT_K9-PGTd6yqen_z-pEsINt19M-_a-rCw/exec
APPS_SCRIPT_SECRET=replace-with-shared-secret
USE_MOCK_DATA=false
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_UPLOAD_FOLDER=drive-school/proof-images
